.gris{
	color: #92ADC6;
}

.fd-gris{
	background-color: #92ADC6;
}

.fd-azul{
	background-color: #1F75B8;
}

.fd-celeste{
	background-color: #6CC9F2;
}

.fd-verde{
	background-color: #99C93C;
}

.fd-tomate{
	background-color: #F7931D;
}

.fd-amarillo{
	background-color: #EDE837;
}

.fd-verde1{
	background-color: #39B349;
}

.fd-azul1{
	background-color: #6CC9F2;
}
