.titulo{
	font-size: 58px;
}

.gris{
	color: #92ADC6;
}

.fd-verde{
	background-color: #99C93C;
}

.fd-tomate{
	background-color: #F7931D;
	
}

.fd-azul{
	background-color: #1F75B8;
}

img.voluntarios{
	border-radius: 150px;
}